<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sean-kenny.alfred.httpdogs</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>303C2705-0341-4F8E-A449-7DDA1B17439E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBE958FE-B440-48BE-8B19-FE3CD0460CA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>083F4F1F-888A-4454-A161-0E9DC62D23A7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Share the fun.</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sean Kenny</string>
	<key>description</key>
	<string>Open up puppies.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Http Status Dogs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CBE958FE-B440-48BE-8B19-FE3CD0460CA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>httpd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>ruby status_dogs.rb "{query}"</string>
				<key>title</key>
				<string>Http Status Dogs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>303C2705-0341-4F8E-A449-7DDA1B17439E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>083F4F1F-888A-4454-A161-0E9DC62D23A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>083F4F1F-888A-4454-A161-0E9DC62D23A7</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>303C2705-0341-4F8E-A449-7DDA1B17439E</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>CBE958FE-B440-48BE-8B19-FE3CD0460CA6</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>seanakenny.co.uk</string>
</dict>
</plist>
